In [1]:
import pandas as pd

In [2]:
#Enrollment Data
enroll1 = pd.read_csv('api_data_aadhar_enrolment_0_500000.csv')
enroll2 = pd.read_csv('api_data_aadhar_enrolment_500000_1000000.csv')
enroll3 = pd.read_csv('api_data_aadhar_enrolment_1000000_1006029.csv')

In [3]:
Enrollment_df = pd.concat([enroll1, enroll2, enroll3], ignore_index=True)

In [4]:
print("Enrollment Data Details : ")
print("Enrollment Data's Shape : ", Enrollment_df.shape)
print("Missing Values : ")
print(Enrollment_df.isnull().sum())
print("Duplicates : ", Enrollment_df.duplicated().sum())

Enrollment Data Details :
Enrollment Data's Shape :  (1006029, 7)
Missing Values :
date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64
Duplicates :  22957

In [5]:
Enrollment_df.drop_duplicates(inplace=True)

In [6]:
Enrollment_df['date'] = pd.to_datetime(Enrollment_df['date'], format='%d-%m-%Y')

In [7]:
Enrollment_df.duplicated().sum()

np.int64(0)

In [8]:
Enrollment_df['total_enrollment'] = Enrollment_df['age_0_5'] + Enrollment_df['age_5_17'] + Enrollment_df['age_18_greater']
Enrollment_df['enrollment_month'] = Enrollment_df['date'].dt.month
Enrollment_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 983072 entries, 0 to 1006028
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              983072 non-null  datetime64[ns]
 1   state             983072 non-null  object
 2   district          983072 non-null  object
 3   pincode           983072 non-null  int64
 4   age_0_5           983072 non-null  int64
 5   age_5_17          983072 non-null  int64
 6   age_18_greater    983072 non-null  int64
 7   total_enrollment  983072 non-null  int64
 8   enrollment_month  983072 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(5), object(2)
memory usage: 71.3+ MB

In [9]:
Enrollment_df.head(2)

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,total_enrollment,enrollment_month
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37,109,3
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39,86,3

In [10]:
#Biometric Data
bio1 = pd.read_csv('api_data_aadhar_biometric_0_500000.csv')
bio2 = pd.read_csv('api_data_aadhar_biometric_500000_1000000.csv')
bio3 = pd.read_csv('api_data_aadhar_biometric_1000000_1500000.csv')
bio4 = pd.read_csv('api_data_aadhar_biometric_1500000_1861108.csv')

In [11]:
Biometric_df = pd.concat([bio1, bio2, bio3, bio4], ignore_index=True)
print("Biometric Data Details : ")
print("Biometric Data's Shape : ", Biometric_df.shape)
print("Missing Values : ")
print(Biometric_df.isnull().sum())
print("Duplicates : ", Biometric_df.duplicated().sum())

Biometric Data Details :
Biometric Data's Shape :  (1861108, 6)
Missing Values :
date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64
Duplicates :  94896

In [17]:
Biometric_df.drop_duplicates(inplace=True)

In [13]:
Biometric_df['date'] = pd.to_datetime(Biometric_df['date'], format='%d-%m-%Y')
Biometric_df['total_biometric'] = Biometric_df['bio_age_5_17'] + Biometric_df['bio_age_17_']
Biometric_df['biometric_month'] = Biometric_df['date'].dt.month
Biometric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1861108 entries, 0 to 1861107
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   date             datetime64[ns]
 1   state            object
 2   district         object
 3   pincode          int64
 4   bio_age_5_17     int64
 5   bio_age_17_      int64
 6   total_biometric  int64
 7   biometric_month  int32
dtypes: datetime64[ns](1), int32(1), int64(4), object(2)
memory usage: 106.5+ MB

In [14]:
Biometric_df.head(2)

,date,state,district,pincode,bio_age_5_17,bio_age_17_,total_biometric,biometric_month
0,2025-03-01,Haryana,Mahendragarh,123029,280,577,857,3
1,2025-03-01,Bihar,Madhepura,852121,144,369,513,3

In [15]:
#Demography Data
demo1 = pd.read_csv('api_data_aadhar_demographic_0_500000.csv')
demo2 = pd.read_csv('api_data_aadhar_demographic_500000_1000000.csv')
demo3 = pd.read_csv('api_data_aadhar_demographic_1000000_1500000.csv')
demo4 = pd.read_csv('api_data_aadhar_demographic_1500000_2000000.csv')
demo5 = pd.read_csv('api_data_aadhar_demographic_2000000_2071700.csv')

In [16]:
Demography_df = pd.concat([demo1, demo2, demo3, demo4, demo5], ignore_index=True)
print("Demographic Data Details : ")
print("Demographic Data's Shape : ", Demography_df.shape)
print("Missing Values : ")
print(Demography_df.isnull().sum())
print("Duplicates : ", Demography_df.duplicated().sum())

Demographic Data Details :
Demographic Data's Shape :  (2071700, 6)
Missing Values :
date             0
state            0
district         0
pincode          0
demo_age_5_17    0
demo_age_17_     0
dtype: int64
Duplicates :  473601

In [18]:
Demography_df.drop_duplicates(inplace=True)

In [19]:
Demography_df['date'] = pd.to_datetime(Demography_df['date'], format='%d-%m-%Y')
Demography_df['total_demography'] = Demography_df['demo_age_5_17'] + Demography_df['demo_age_17_']
Demography_df['demography_month'] = Demography_df['date'].dt.month
Demography_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1598099 entries, 0 to 2071699
Data columns (total 8 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   date              1598099 non-null  datetime64[ns]
 1   state             1598099 non-null  object
 2   district          1598099 non-null  object
 3   pincode           1598099 non-null  int64
 4   demo_age_5_17     1598099 non-null  int64
 5   demo_age_17_      1598099 non-null  int64
 6   total_demography  1598099 non-null  int64
 7   demography_month  1598099 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(4), object(2)
memory usage: 103.6+ MB

In [20]:
Demography_df.head(2)

,date,state,district,pincode,demo_age_5_17,demo_age_17_,total_demography,demography_month
0,2025-03-01,Uttar Pradesh,Gorakhpur,273213,49,529,578,3
1,2025-03-01,Andhra Pradesh,Chittoor,517132,22,375,397,3

In [21]:
Aadhar = pd.merge(Enrollment_df, Biometric_df, on=['date', 'state', 'district', 'pincode'], how='outer')
Aadhar_df = pd.merge(Aadhar, Demography_df, on=['date', 'state', 'district', 'pincode'], how='outer')

In [22]:
print("Merged Aadhar Data Details : ")
print("Aadhar Data's Shape : ", Aadhar_df.shape)
print("Missing Values : ")
print(Aadhar_df.isnull().sum())
print("Duplicates : ", Aadhar_df.duplicated().sum())

Merged Aadhar Data Details :
Aadhar Data's Shape :  (2330468, 17)
Missing Values :
date                      0
state                     0
district                  0
pincode                   0
age_0_5             1347396
age_5_17            1347396
age_18_greater      1347396
total_enrollment    1347396
enrollment_month    1347396
bio_age_5_17         564256
bio_age_17_          564256
total_biometric      564256
biometric_month      564256
demo_age_5_17        732369
demo_age_17_         732369
total_demography     732369
demography_month     732369
dtype: int64
Duplicates :  0

In [23]:
Aadhar_df.fillna(0, inplace=True)

In [25]:
Aadhar_df.isnull().sum().sum()

np.int64(0)

In [26]:
Aadhar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2330468 entries, 0 to 2330467
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   date              datetime64[ns]
 1   state             object
 2   district          object
 3   pincode           int64
 4   age_0_5           float64
 5   age_5_17          float64
 6   age_18_greater    float64
 7   total_enrollment  float64
 8   enrollment_month  float64
 9   bio_age_5_17      float64
 10  bio_age_17_       float64
 11  total_biometric   float64
 12  biometric_month   float64
 13  demo_age_5_17     float64
 14  demo_age_17_      float64
 15  total_demography  float64
 16  demography_month  float64
dtypes: datetime64[ns](1), float64(13), int64(1), object(2)
memory usage: 302.3+ MB

In [28]:
unique_states = Aadhar_df['state'].unique()
print(unique_states)

['Andaman & Nicobar Islands' 'Andaman and Nicobar Islands'
 'Andhra Pradesh' 'Arunachal Pradesh' 'Assam' 'Bihar' 'Chandigarh'
 'Chhattisgarh' 'Dadra & Nagar Haveli' 'Dadra and Nagar Haveli'
 'Dadra and Nagar Haveli and Daman and Diu' 'Daman & Diu' 'Daman and Diu'
 'Delhi' 'Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu and Kashmir'
 'Jharkhand' 'Karnataka' 'Kerala' 'Ladakh' 'Lakshadweep' 'Madhya Pradesh'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Orissa' 'Pondicherry' 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim'
 'Tamil Nadu' 'Telangana' 'Tripura' 'Uttar Pradesh' 'Uttarakhand'
 'West Bengal' 'The Dadra And Nagar Haveli And Daman And Diu'
 'Jammu And Kashmir' 'Jammu & Kashmir' 'ODISHA' 'WEST BENGAL' 'WESTBENGAL'
 'West  Bengal' 'West bengal' 'Westbengal' 'andhra pradesh' 'odisha'
 'west Bengal' '100000' 'West Bangal' 'Uttaranchal' 'Chhatisgarh'
 'West Bengli' 'BALANAGAR' 'Darbhanga' 'Puttenahalli' 'Nagpur' 'Jaipur'
 'Raja Annamalai Puram' 'Madanapalle' 'Tamilnadu']

In [33]:
# THE ULTIMATE CLEANING LOGIC
state_mapping = {
    'West Bangal': 'West Bengal', 'Westbengal': 'West Bengal', 'West Bengli': 'West Bengal',
    'West  Bengal': 'West Bengal', 'WEST BENGAL': 'West Bengal', 'WESTBENGAL': 'West Bengal',
    'West bengal': 'West Bengal', 'west Bengal': 'West Bengal', 'West  Bengal': 'West Bengal',
    'Orissa': 'Odisha', 'ODISHA': 'Odisha', 'odisha': 'Odisha',
    'Jammu & Kashmir': 'Jammu And Kashmir', 'Jammu and Kashmir': 'Jammu And Kashmir',
    'Andaman & Nicobar Islands': 'Andaman And Nicobar Islands',
    'Puducherry': 'Pondicherry', 'Uttaranchal': 'Uttarakhand', 'Chhatisgarh': 'Chhattisgarh',
    'Tamilnadu': 'Tamil Nadu', 'andhra pradesh': 'Andhra Pradesh',
    'Dadra & Nagar Haveli': 'Dadra And Nagar Haveli And Daman And Diu',
    'Dadra and Nagar Haveli': 'Dadra And Nagar Haveli And Daman And Diu',
    'Daman & Diu': 'Dadra And Nagar Haveli And Daman And Diu',
    'Daman and Diu': 'Dadra And Nagar Haveli And Daman And Diu',
    'The Dadra And Nagar Haveli And Daman And Diu': 'Dadra And Nagar Haveli And Daman And Diu'
}

district_fixes = {
    'Bara Banki': 'Barabanki', 'Bulandshahar': 'Bulandshahr', 'Bagpat': 'Baghpat',
    'Howrah': 'Haora', 'Hawrah': 'Haora', 'HOWRAH': 'Haora',
    'Hooghiy': 'Hooghly', 'Hugli': 'Hooghly', 'HOOGHLY': 'Haora', # Haora/Hooghly are often mixed
    'South 24 Pargana': 'South 24 Parganas', 'South 24 parganas': 'South 24 Parganas',
    'Spsr Nellore': 'Sri Potti Sriramulu Nellore', 'Nellore': 'Sri Potti Sriramulu Nellore',
    'Gondiya *': 'Gondia', 'Nandurbar *': 'Nandurbar', 'Udupi *': 'Udupi',
    'Rangareddi': 'Rangareddy', 'K.v. Rangareddy': 'Rangareddy'
}

junk = ['100000', 'Balanagar', 'Puttenahalli', 'Raja Annamalai Puram', 'Madanapalle', 'Nagpur', 'Jaipur', 'Darbhanga']

def clean_aadhar_final(df):
    # 1. Standardize Text (Same as before)
    df['state'] = df['state'].astype(str).str.strip().str.title()
    df['district'] = df['district'].astype(str).str.strip().str.title()

    # 2. Apply Mappings (Same as before)
    df['state'] = df['state'].replace(state_mapping)
    df['district'] = df['district'].replace(district_fixes)

    # 3. PINCODE CLEANING & VALIDATION
    # Convert to numeric, turn errors to NaN, then drop NaNs
    df['pincode'] = pd.to_numeric(df['pincode'], errors='coerce')

    # Filter: Keep only 6-digit pincodes between 110000 and 900000
    df = df[(df['pincode'] >= 110000) & (df['pincode'] <= 850000)]

    # 4. Filter Junk States/Districts (like '100000')
    df = df[~df['state'].isin(junk)]
    df = df[~df['district'].isin(junk)]

    # 5. AGGREGATE (Combine the split records)
    num_cols = df.select_dtypes(include=['number']).columns.tolist()
    if 'pincode' in num_cols: num_cols.remove('pincode') # Don't sum pincodes!

    return df.groupby(['date', 'state', 'district', 'pincode'])[num_cols].sum().reset_index()

# Run it!
Aadhar_df = clean_aadhar_final(Aadhar_df)

In [38]:
import numpy as np
def clean_aadhar_master_final(df):
    # TEXT STANDARDIZATION
    for col in ['state', 'district']:
        df[col] = df[col].astype(str).str.strip().replace(r'\s+', ' ', regex=True).str.title()
    # STATE MAPPING
    state_map = {
        'West Bangal': 'West Bengal', 'Westbengal': 'West Bengal', 'West Bengli': 'West Bengal', 'West  Bengal': 'West Bengal', 'Orissa': 'Odisha',
        'Uttaranchal': 'Uttarakhand', 'Chhatisgarh': 'Chhattisgarh', 'Tamilnadu': 'Tamil Nadu', 'Andaman & Nicobar Islands': 'Andaman And Nicobar Islands',
        'Dadra & Nagar Haveli': 'Dadra And Nagar Haveli And Daman And Diu', 'Daman & Diu': 'Dadra And Nagar Haveli And Daman And Diu',
        'Dadra And Nagar Haveli': 'Dadra And Nagar Haveli And Daman And Diu', 'Daman And Diu': 'Dadra And Nagar Haveli And Daman And Diu',
        'Puducherry': 'Pondicherry', 'Jammu & Kashmir': 'Jammu And Kashmir'
    }
    df['state'] = df['state'].replace(state_map)
    # DISTRICT CLEANING
    df['district'] = df['district'].str.replace('*', '', regex=False).str.strip()
    dist_map = {
        'Bara Banki': 'Barabanki', 'Bulandshahar': 'Bulandshahr', 'Bagpat': 'Baghpat', 'Howrah': 'Haora', 'Hawrah': 'Haora', 'Hooghiy': 'Hooghly', 'Hugli': 'Hooghly',
        'South 24 Pargana': 'South 24 Parganas', 'South 24 Parganas': 'South 24 Parganas', 'North Twenty Four Parganas': 'North 24 Parganas',
        'South Twenty Four Parganas': 'South 24 Parganas', 'Spsr Nellore': 'Sri Potti Sriramulu Nellore', 'Nellore': 'Sri Potti Sriramulu Nellore',
        'Anantapur': 'Ananthapuramu', 'Ananthapur': 'Ananthapuramu', 'Gondiya': 'Gondia', 'Nandurbar': 'Nandurbar', 'Udupi': 'Udupi',
        'Rangareddi': 'Rangareddy', 'K.V. Rangareddy': 'Rangareddy'
    }
    df['district'] = df['district'].replace(dist_map)
    # PINCODE CLEANING & VALIDATION
    df['pincode'] = pd.to_numeric(df['pincode'], errors='coerce')
    df = df[(df['pincode'] >= 110000) & (df['pincode'] <= 850000)].copy()
    df['pincode'] = df['pincode'].astype(int)
    # REMOVING JUNK ENTRIES
    junk = ['100000', 'Balanagar', 'Puttenahalli', 'Raja Annamalai Puram', 'Madanapalle', 'Nagpur', 'Jaipur', 'Darbhanga']
    df = df[~df['state'].isin(junk)]
    df = df[~df['district'].isin(junk)]
    num_cols = df.select_dtypes(include=[np.number]).columns.tolist()
    if 'pincode' in num_cols: num_cols.remove('pincode')
    group_cols = ['date', 'state', 'district', 'pincode']
    actual_groups = [c for c in group_cols if c in df.columns]

    return df.groupby(actual_groups)[num_cols].sum().reset_index()

# Run the Master Cleaner
Aadhar_df = clean_aadhar_master_final(Aadhar_df)

# Print Final Statistics for your PPT
print(f"✅ FINAL DATA READY")
print(f"Unique States: {Aadhar_df['state'].nunique()}")
print(f"Unique Districts: {Aadhar_df['district'].nunique()}")
print(f"Total Records: {len(Aadhar_df)}")

✅ FINAL DATA READY
Unique States: 36
Unique Districts: 938
Total Records: 2234840

In [39]:
print("Merged Aadhar Data Details : ")
print("Aadhar Data's Shape : ", Aadhar_df.shape)
print("Missing Values : ")
print(Aadhar_df.isnull().sum())
print("Duplicates : ", Aadhar_df.duplicated().sum())

Merged Aadhar Data Details :
Aadhar Data's Shape :  (2234840, 17)
Missing Values :
date                0
state               0
district            0
pincode             0
age_0_5             0
age_5_17            0
age_18_greater      0
total_enrollment    0
enrollment_month    0
bio_age_5_17        0
bio_age_17_         0
total_biometric     0
biometric_month     0
demo_age_5_17       0
demo_age_17_        0
total_demography    0
demography_month    0
dtype: int64
Duplicates :  0

In [41]:
# Check if Total Enrollment matches the sum of age groups
check = (Aadhar_df['total_enrollment'] == (Aadhar_df['age_0_5'] + Aadhar_df['age_5_17'] + Aadhar_df['age_18_greater'])).all()
print(f"Total Enrollment is consistent: {check}")

Total Enrollment is consistent: True

In [43]:
Aadhar_df.to_csv('Aadhar_Data.csv', index=False)